body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: roboto;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 47px;
    transition: 0.6s;
    padding-bottom: 0;
}

.logo {
    position: relative;
    margin-right: 10px;
}

.main_img {
    transition: 0.6s;
}

.logo .img_hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

.milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.left:hover {
    color: #F26522;
}

.left:hover .img_hover {
    opacity: 1;
}

.left:hover .main_img {
    opacity: 0;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right a {
    transition: 0.6s;
}

.right a:hover {
    color: #F26522;
}

.nomber {
    margin-top: 19px;
}

main {
    margin-top: 20px;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.offer_box {
    margin-bottom: 37px;
}

.offer_item {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.description_offer {
    transition: all 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    height: 0;
}

.offer_title {
    transition: 0.6s;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    text-align: center;
}

.offer_box:hover .description_offer {
    opacity: 1;
    height: 55px;
}

.offer_box:hover .offer_title {
    color: #F26522;
}

.description_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 16px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "a ."
    "b c";
    background: #F26522;
}

.item_1 {
    grid-area: a;
    padding-top: 7px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.item_2 {
    grid-area: b;
    margin-top: 8px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.item_3 {
    display: flex;
    text-align: right;
    grid-area: c;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    justify-self: end;
}

.item_3::after {
    content: "";
    display: block;
    height: 12px;
    width: 7px;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-right: 16px;
}

footer {
    margin-top: 49px;
    padding-bottom: 15px;
}

.footer_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}